

h1 {
  color: green;
  text-decoration: overline underline 10px limegreen dotted;
  letter-spacing: 10px;
  text-shadow: 2px 3px 5px lime;
}


body {
  background-color: teal;
  margin: 0; /* Optional: removes default margin */
  font-family: sans-serif;
}


img:hover {
  width: 300px;
  border: 10px dotted purple;
  border-radius: 70%;
}


h1:hover {
  text-decoration: overline underline wavy blue 20px;
  font-size: 400%;
  text-transform: uppercase;
}


nav {
  background-color: black;
  padding: 20px;
  text-align: center;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}


nav a:hover {
  background-color: green;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}

